/* ===========================
   PersonaMirror AI Theme
=========================== */

html, body, [class*="css"] {
    font-family: "Inter", sans-serif;
}

/* Main background */
.stApp {
    background: linear-gradient(135deg,#0F172A,#111827,#1E293B);
    color: white;
}

/* Sidebar */
section[data-testid="stSidebar"]{
    background:#111827;
    border-right:1px solid #2E3A59;
}

/* Titles */
h1{
    color:white;
    font-size:42px;
    font-weight:700;
}

h2,h3{
    color:#F8FAFC;
}

/* Buttons */

.stButton>button{

    width:100%;
    border-radius:15px;
    border:none;

    padding:15px;

    background:linear-gradient(
        90deg,
        #7C3AED,
        #06B6D4
    );

    color:white;

    font-size:18px;

    font-weight:600;

    transition:0.3s;
}

.stButton>button:hover{

    transform:scale(1.03);

    box-shadow:0 0 20px rgba(124,58,237,.6);
}

/* Metric cards */

div[data-testid="metric-container"]{

    background:#1E293B;

    border-radius:20px;

    padding:20px;

    border:1px solid #334155;

    box-shadow:0 10px 25px rgba(0,0,0,.35);

}

/* Progress */

.stProgress>div>div{

    background:linear-gradient(
        90deg,
        #7C3AED,
        #06B6D4
    );

}

/* File uploader */

[data-testid="stFileUploader"]{

    border:2px dashed #7C3AED;

    border-radius:20px;

    background:#111827;

    padding:25px;

}

/* Success */

.stSuccess{

    border-radius:15px;

}

/* Warning */

.stWarning{

    border-radius:15px;

}

/* Info */

.stInfo{

    border-radius:15px;

}